{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}

<div class="p-3">
    <form class="layui-form gg-form-bar border-t border-x">
        <div class="layui-input-inline">
            <select name="type_id">
                <option value="">请选择医疗类别</option>
                {volist name="med_type" id="v"}
                <option value="{$v.type_id}">{$v.type_name}</option>
                {/volist}
            </select>
        </div>
        <div class="layui-input-inline" style="width:300px;">
            <input type="text" name="keywords" placeholder="请输入关键字" class="layui-input" autocomplete="off"/>
        </div>
        <div class="layui-input-inline">
            <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="searchform">提交搜索</button>
        </div>
    </form>
    <table class="layui-hide" id="equipment" lay-filter="equipment"></table>
</div>


<script type="text/html" id="toolbarDemo">
    <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add">
        <i class="layui-icon layui-icon-addition"></i> 添加医疗器材
    </button>
</script>

<script type="text/html" id="barDemo">

    {{#  if(d.status ==0){ }}
    <a class="layui-btn layui-btn-xs layui-bg-orange" lay-event="repair">报修</a>
    <a class="layui-btn layui-btn-xs " lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{#  }else{  }}
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="add">添加数量</a>
    {{#  } }}

</script>
<script type="text/html" id="up_down">
    <input type="checkbox" name="{{d.equipment_id}}" lay-skin="switch" value="{{d.status}}" title="正常|异常" lay-filter="up_down" {{
           d.status== 1 ? 'checked' : '' }}>
</script>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
    const moduleInit = ['tool'];

    function gouguInit() {
        var table = layui.table, tool = layui.tool, form = layui.form;
        layui.pageTable = table.render({
            elem: '#equipment',
            title: '列表',
            toolbar: '#toolbarDemo',
            url: '/zzk/equipment/index',
            page: true,
            even: true,  //奇偶行变色
            limits: [1, 10, 20, 50, 100],
            limit: 10,
            cols: [[
                {type: 'numbers', title: '编号', align: 'center'},
                {field: 'equipment_name', title: '设备名', align: 'center',},
                {field: 'equipment_id', title: '设备id', align: 'center',hide: 'true'},
                {field: 'type_name', title: '设备类别', align: 'center',},
                {field: 'price', title: '价格', align: 'center',},
                {field: 'number', title: '数量', align: 'center'},
                {field: 'status', title: '状态', toolbar: '#up_down', align: 'center',},
                {fixed: 'right', field: 'right', title: '操作', toolbar: '#barDemo', align: 'center'}
            ]]
        });

        //监听表头工具栏事件
        table.on('toolbar(equipment)', function (obj) {
            if (obj.event === 'add') {
                tool.side("/zzk/equipment/add");
                return false;
            }
        });

        //监听表格行工具事件
        table.on('tool(equipment)', function (obj) {
            var data = obj.data;
            if (obj.event === 'add') {  //加入购物车
                tool.side('/zzk/equipment/add_num?id=' + data.equipment_id);
            } else if (obj.event === 'edit') {
                tool.side('/zzk/equipment/edit?id=' + data.equipment_id);
            } else if (obj.event === 'repair') {
                tool.side('/zzk/equipment/repair?id=' + data.equipment_id);
            } else if (obj.event === 'del') {
                layer.confirm('确定要删除该记录吗?', {
                    icon: 3,
                    title: '提示'
                }, function (index) {
                    let callback = function (e) {
                        layer.msg(e.msg);
                        if (e.code == 0) {
                            obj.del();
                        }
                    }
                    tool.delete("/zzk/equipment/del", {equipment_id: data.equipment_id}, callback);
                    layer.close(index);
                });
            }
            return false;
        });

        form.on('switch(up_down)', function (obj) {   //up_down为46行的lay_filter的值
            let callback = function (e) {
                layer.msg(e.msg);
                if (e.code == 0) {
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                }
            }
            var data = {equipment_id: this.name, status: this.value}
            tool.post("/zzk/equipment/up_down", data, callback);
            return false;
        });

        //监听搜索提交
        form.on('submit(searchform)', function (data) {
            layui.pageTable.reload({
                where: {
                    keywords: data.field.keywords,
                    type_id: data.field.type_id
                },
                page: {
                    curr: 1
                }
            });
            return false;
        });
    }
</script>
{/block}
<!-- /脚本 -->