{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}

<div class="p-3">
  <form class="layui-form gg-form-bar border-t border-x">
    <div class="layui-input-inline">
      <select name="type_id">
        <option value="">请选择论文类别</option>
        {volist name="sp_type" id="v"}
        <option value="{$v.type_id}">{$v.type_name}</option>
        {/volist}
      </select>
    </div>
    <div class="layui-input-inline" style="width:300px;">
      <input type="text" name="keywords" placeholder="请输入关键字/指导老师名" class="layui-input" autocomplete="off"/>
    </div>
    <div class="layui-input-inline">
      <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="searchform">提交搜索</button>
    </div>
  </form>
  <table class="layui-hide" id="projects" lay-filter="projects"></table>
</div>


<script type="text/html" id="toolbarDemo">
  <!--<button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add">
      <i class="layui-icon layui-icon-addition"></i> 添加题目
  </button>-->
</script>


<script type="text/html" id="barDemo">

  {{#  if(d.select_status ==1&&d.stu_id==d.student_id){ }}
  <span style="color: #ffb800 ;">已申请</span>
  {{#  }else if(d.select_status == -1){  }}
  <span style="color: #ff5722 ;">已被拒绝</span>
  {{#  }else if(d.select_status == 2){  }}
  <span style="color: #16b777 ;">已被选</span>
  {{#  }else{  }}
  <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="select">选题</a>
  {{#  } }}

</script>

<script type="text/html" id="ss">
  <input type="checkbox" name="{{d.project_id}}" lay-skin="switch" value="{{d.select_status}}" title="正常|异常" lay-filter="ss" {{
         d.status== 1 ? 'checked' : '' }}>
</script>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
  const moduleInit = ['tool'];

  function gouguInit() {
    var table = layui.table, tool = layui.tool, form = layui.form;
    layui.pageTable = table.render({
      elem: '#projects',
      title: '列表',
      toolbar: '#toolbarDemo',
      url: '/design/select/index',
      page: true,
      even: true,  //奇偶行变色
      limits: [1, 10, 20, 50, 100],
      limit: 10,
      cols: [[
        {field: 'project_name', title: '题目名称',event:'seepage', align: 'center',},
        {field: 'project_id', title: '设备id', align: 'center',hide: 'true'},
        {field: 'type_name', title: '题目类型', align: 'center',},
        {field: 'nickname', title: '指导老师', align: 'center',},
        {field: 'select_status', title: '状态', toolbar: '#ss', align: 'center',hide: 'true'},
        /*{field: 'status', title: '状态', toolbar: '#up_down', align: 'center',hide: 'true'},*/
        {fixed: 'right', field: 'right', title: '操作', toolbar: '#barDemo', align: 'center'}
      ]]
    });

    //监听表头工具栏事件
    table.on('toolbar(projects)', function (obj) {
      if (obj.event === 'add') {
        tool.side("/design/projects/add");
        return false;
      }
    });
    //监听表格行工具事件
    table.on('tool(projects)', function (obj) {
      var data = obj.data;
      if (obj.event === 'edit') {
        tool.side('/design/resubmit/edit?id=' + data.project_id);
      } else if (obj.event === 'seepage') {
        tool.side('/design/select/show?id=' + data.project_id);
      } else if (obj.event === 'refuse') {
        let content = '<div style="padding: 16px;"><textarea name="reason" class="layui-textarea" placeholder="请输入拒绝理由" style="height: 100px;"></textarea></div>';
        layer.open({
          title: '拒绝理由',
          content: content,
          btn: ['确定', '取消'],
          yes: function (index, layero) {
            let reason = layero.find('textarea[name="reason"]').val();
            let data1 = { project_id: data.project_id, reason: reason }; // 这里修改为 obj.project_id
            tool.post("/design/audit/refuse", data1, function (e) {
              layer.msg(e.msg);
              if (e.code == 0) {
                setTimeout(function () {
                  location.reload();
                }, 1000);
              }
            });
            layer.close(index);
          },
          btn2: function (index, layero) {
            layer.close(index);
          }
        });
      } else if (obj.event === 'select') {
        let callback = function (e) {
          layer.msg(e.msg);
          if (e.code == 0) {
            setTimeout(function () {
              location.reload();
            }, 1000);
          }
        }
        tool.post("/design/select/select", {project_id: data.project_id}, callback);
        return false;
      }
      return false;
    });

    form.on('switch(up_down)', function (obj) {   //up_down为46行的lay_filter的值
      let callback = function (e) {
        layer.msg(e.msg);
        if (e.code == 0) {
          setTimeout(function () {
            location.reload();
          }, 1000);
        }
      }
      var data = {equipment_id: this.name, status: this.value}
      tool.post("/design/projects/up_down", data, callback);
      return false;
    });

    //监听搜索提交
    form.on('submit(searchform)', function (data) {
      layui.pageTable.reload({
        where: {
          keywords: data.field.keywords,
          type_id: data.field.type_id
        },
        page: {
          curr: 1
        }
      });
      return false;
    });
  }
</script>
{/block}
<!-- /脚本 -->